<script>
	export let frontmatter = {};
	import Test from '$lib/components/test.svelte';
</script>

--- 
title: My Awesome Article 
author: Fancy Dev 
--- 

<h1>{frontmatter.title}</h1>
<br />
You can also insert custom components inside the .svx file:
<Test></Test>

<style>
	h1 {
		color: #333;
	}
</style>